<h1>Hello!</h1>
v<%= Application.spec(:phoenix, :vsn) %>

<div id="index">
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr :for={{key, value} <- @stash}>
        <td>
          <%= key %>
        </td>

        <td>
          <%= value %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
