<h1> Hello! </h1>

        v<%= Application.spec(:phoenix, :vsn) %>

<div id="index">
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <%= for {key, value} <- @stash do %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>